@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");

.fa-user-circle {
  color: black;
}
h4,
h5,
h6,
.navbar-brand {
  font-weight: bold;
  font-family: Rowdies;
}

.card-link {
  text-decoration: none;
}

#add-new-button {
  cursor: cell;
}
.modal{
  display: none;
}
