@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");

.fa-user-circle {
  color: black;
}
h4,
h5,
h6,
.navbar-brand {
  font-weight: bold;
  font-family: Rowdies;
}

.nav-link:hover {
  text-decoration:underline;
  
}

.card-link {
  text-decoration: none;
}

#add-new-button {
  cursor: cell;
}

#j-link {
  text-decoration: none;
  color: white;
}
